@model ExchangeRates
@{
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de Tipo de Cambio</h4>
                <p class="card-title-desc">

                </p>
                @using (Html.BeginForm("Update", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "repeater col-md-12 needs-validation", @novalidate = "", @id = "FormCondominium" }))
                {
                    <div class="row">
                        <div class="col-12">

                            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                            @Html.AntiForgeryToken()
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Id</label>
                                <div class="col-md-4">
                                    <input class="form-control numero" maxlength="10" type="text" asp-for="@Model.Id" disabled>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">MonedaOrigen</label>
                                <div class="col-md-4">
                                    <input class="form-control" maxlength="150" type="text" asp-for="@Model.SourceCurrency" disabled>
                                </div>
                            </div>


                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">MonedaDestino</label>
                                <div class="col-md-10">
                                    <input class="form-control" maxlength="150" type="text" asp-for="@Model.TargetCurrency" disabled>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Tasa</label>
                                <div class="col-md-10">
                                    <input class="form-control" maxlength="150" type="text" asp-for="@Model.Rate" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Cantidad</label>
                                <div class="col-md-10">
                                    <input class="form-control" maxlength="150" type="text" asp-for="@Model.Amount" disabled>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">CantidadConTasaDeCambio</label>
                                <div class="col-md-10">
                                    <input class="form-control" maxlength="150" type="text" asp-for="@Model.AmountWithExchangeRate" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-wrap gap-3 mt-3">
                            <button type="submit" class="btn btn-success" id="sabeAdd">Aceptar</button>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-primary ">Cancelar</a>

                        </div>




                    </div>
                }

            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->
